:root {
  --color-primary: #26a69a;
  --color-primary700: #00897b;
  --color-primary50: #e0f2f1;
  --color-secondary: #ff2056;
  --color-secondary50: #ffebee;
  --color-success: #13ce66;
  --color-info: #1fb6ff;
  --color-warning: #fbbc04;
  --color-grey1: #5f6368;
  --color-grey2: #84898d;
  --color-grey3: #c5c5c5;
  --color-grey4: #eceff1;
  --color-grey_background: #f9f9f9;
}
